<div>
  <h2 id="page-heading" data-cy="NewsHeading">
    <span jhiTranslate="rmtMonoliticApp.news.home.title">News</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rmtMonoliticApp.news.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-news"
        [routerLink]="['/news/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rmtMonoliticApp.news.home.createLabel"> Create a new News </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="news?.length === 0">
    <span jhiTranslate="rmtMonoliticApp.news.home.notFound">No news found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="news && news.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="featuredImage">
            <span jhiTranslate="rmtMonoliticApp.news.featuredImage">Featured Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="featuredImageUrl">
            <span jhiTranslate="rmtMonoliticApp.news.featuredImageUrl">Featured Image Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="rmtMonoliticApp.news.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="detail">
            <span jhiTranslate="rmtMonoliticApp.news.detail">Detail</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="rmtMonoliticApp.news.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="registeredTime">
            <span jhiTranslate="rmtMonoliticApp.news.registeredTime">Registered Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updateTime">
            <span jhiTranslate="rmtMonoliticApp.news.updateTime">Update Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let news of news; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/news', news.id, 'view']">{{ news.id }}</a>
          </td>
          <td>
            <a *ngIf="news.featuredImage" (click)="openFile(news.featuredImage, news.featuredImageContentType)">
              <img
                [src]="'data:' + news.featuredImageContentType + ';base64,' + news.featuredImage"
                style="max-height: 30px"
                alt="news image"
              />
            </a>
            <span *ngIf="news.featuredImage">{{ news.featuredImageContentType }}, {{ byteSize(news.featuredImage) }}</span>
          </td>
          <td>{{ news.featuredImageUrl }}</td>
          <td>{{ news.title }}</td>
          <td>{{ news.detail }}</td>
          <td>{{ news.createdBy }}</td>
          <td>{{ news.registeredTime | formatMediumDatetime }}</td>
          <td>{{ news.updateTime | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/news', news.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/news', news.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(news)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="news && news.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
