<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="news">
      <h2 data-cy="newsDetailsHeading"><span jhiTranslate="rmtMonoliticApp.news.detail.title">News</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ news.id }}</span>
        </dd>
        <dt><span jhiTranslate="rmtMonoliticApp.news.featuredImage">Featured Image</span></dt>
        <dd>
          <div *ngIf="news.featuredImage">
            <a (click)="openFile(news.featuredImage, news.featuredImageContentType)">
              <img
                [src]="'data:' + news.featuredImageContentType + ';base64,' + news.featuredImage"
                style="max-width: 100%"
                alt="news image"
              />
            </a>
            {{ news.featuredImageContentType }}, {{ byteSize(news.featuredImage) }}
          </div>
        </dd>
        <dt><span jhiTranslate="rmtMonoliticApp.news.featuredImageUrl">Featured Image Url</span></dt>
        <dd>
          <span>{{ news.featuredImageUrl }}</span>
        </dd>
        <dt><span jhiTranslate="rmtMonoliticApp.news.title">Title</span></dt>
        <dd>
          <span>{{ news.title }}</span>
        </dd>
        <dt><span jhiTranslate="rmtMonoliticApp.news.detail">Detail</span></dt>
        <dd>
          <span>{{ news.detail }}</span>
        </dd>
        <dt><span jhiTranslate="rmtMonoliticApp.news.createdBy">Created By</span></dt>
        <dd>
          <span>{{ news.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="rmtMonoliticApp.news.registeredTime">Registered Time</span></dt>
        <dd>
          <span>{{ news.registeredTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="rmtMonoliticApp.news.updateTime">Update Time</span></dt>
        <dd>
          <span>{{ news.updateTime | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/news', news.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
