<div>
  <h2 id="page-heading" data-cy="MultipleChoiceAnsewerHeading">
    <span jhiTranslate="rmtMonoliticApp.multipleChoiceAnsewer.home.title">Multiple Choice Ansewers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rmtMonoliticApp.multipleChoiceAnsewer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-multiple-choice-ansewer"
        [routerLink]="['/multiple-choice-ansewer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rmtMonoliticApp.multipleChoiceAnsewer.home.createLabel"> Create a new Multiple Choice Ansewer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="multipleChoiceAnsewers?.length === 0">
    <span jhiTranslate="rmtMonoliticApp.multipleChoiceAnsewer.home.notFound">No multipleChoiceAnsewers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="multipleChoiceAnsewers && multipleChoiceAnsewers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="choice">
            <span jhiTranslate="rmtMonoliticApp.multipleChoiceAnsewer.choice">Choice</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="answer.id">
            <span jhiTranslate="rmtMonoliticApp.multipleChoiceAnsewer.answer">Answer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let multipleChoiceAnsewer of multipleChoiceAnsewers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/multiple-choice-ansewer', multipleChoiceAnsewer.id, 'view']">{{ multipleChoiceAnsewer.id }}</a>
          </td>
          <td>{{ multipleChoiceAnsewer.choice }}</td>
          <td>
            <div *ngIf="multipleChoiceAnsewer.answer">
              <a [routerLink]="['/answer', multipleChoiceAnsewer.answer?.id, 'view']">{{ multipleChoiceAnsewer.answer?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/multiple-choice-ansewer', multipleChoiceAnsewer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/multiple-choice-ansewer', multipleChoiceAnsewer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(multipleChoiceAnsewer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="multipleChoiceAnsewers && multipleChoiceAnsewers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
