<div>
  <h2 id="page-heading" data-cy="FormProgresssHeading">
    <span jhiTranslate="rmtMonoliticApp.formProgresss.home.title">Form Progressses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rmtMonoliticApp.formProgresss.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-form-progresss"
        [routerLink]="['/form-progresss/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rmtMonoliticApp.formProgresss.home.createLabel"> Create a new Form Progresss </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="formProgressses?.length === 0">
    <span jhiTranslate="rmtMonoliticApp.formProgresss.home.notFound">No formProgressses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="formProgressses && formProgressses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="submited">
            <span jhiTranslate="rmtMonoliticApp.formProgresss.submited">Submited</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="startedOn">
            <span jhiTranslate="rmtMonoliticApp.formProgresss.startedOn">Started On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="submitedOn">
            <span jhiTranslate="rmtMonoliticApp.formProgresss.submitedOn">Submited On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sentedOn">
            <span jhiTranslate="rmtMonoliticApp.formProgresss.sentedOn">Sented On</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="rmtMonoliticApp.formProgresss.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="form.name">
            <span jhiTranslate="rmtMonoliticApp.formProgresss.form">Form</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formProgresss of formProgressses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/form-progresss', formProgresss.id, 'view']">{{ formProgresss.id }}</a>
          </td>
          <td>{{ formProgresss.submited }}</td>
          <td>{{ formProgresss.startedOn | formatMediumDatetime }}</td>
          <td>{{ formProgresss.submitedOn | formatMediumDatetime }}</td>
          <td>{{ formProgresss.sentedOn | formatMediumDatetime }}</td>
          <td>
            {{ formProgresss.user?.login }}
          </td>
          <td>
            <div *ngIf="formProgresss.form">
              <a [routerLink]="['/form', formProgresss.form?.id, 'view']">{{ formProgresss.form?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/form-progresss', formProgresss.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/form-progresss', formProgresss.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(formProgresss)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="formProgressses && formProgressses.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
